!!! 5
%html
	%head
		%title TWITTERZ
		= stylesheet_link_tag 'application'
		= javascript_include_tag 'application'
		= csrf_meta_tags

	%body
		#container
			#topbar
			#identity
				- if flash[:notice]
					= flash[:notice]
				- elsif flash[:warning]
					= flash[:warning] 
			#search
			#navbar
			#main
				= yield

			.footer
